$color-bg: #F6F3F3;
//$color-bg: #ECEAEA;
$color-white: #ffffff;
$color-text: #343030;


$color-text-muted: #9F9F9F;
$color-text-light: #9F9F9F;
$color-primary: #403432;
$color-primary-hover: #776763;
$color-primary-disable: #C1B4B1;
$color-primary-active: #5B3A32;
$color-border: #e1e1e1;
$color-border-active: #B5B5B5;

$color-secondary: #555;

$font: 'Merriweather', 'Times New Roman', Times, serif;

// text-size-1: 24px bold, line-height: 36px (H1)
$text-size-24: 24px;
$text-weight-1: 700;
$text-line-height-1: 36px;

// text-size-2: 18px regular, line-height: 27px (H2)
$text-size-18: 18px;
$text-weight-2: 400;
$text-line-height-2: 27px;

// text-size-3: 16px bold, line-height: 24px (H3)
$text-size-16: 16px;
$text-weight-3: 700;
$text-line-height-3: 24px;

// text-size-4: 14px bold, line-height: 21px (H4)
$text-size-14: 14px;
$text-weight-4: 700;
$text-line-height-4: 21px;

// text-size-5: 14px regular, line-height: 21px (H5)
$text-size-5: 14px;
$text-weight-5: 400;
$text-line-height-5: 21px;

// text-size-6: 14px light, line-height: 21px (H6)
$text-size-6: 14px;
$text-weight-6: 300;
$text-line-height-6: 21px;

$transition: 0.2s ease;
